@charset "utf-8";

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    /* cursor: none; */
    font-family: 'Josefin Sans', sans-serif;
/*font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;*/
    margin:0;
    color:#313131;
}
